<div class="discountCodeApplt">
  <div class="pincode_popup_bodyresult">
    <div class="pincode_popup_bodyres">
      <div class="close_btn" id="ApplyDiscount_close_btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="11"
          height="10"
          viewBox="0 0 11 10"
          fill="none"
          style="margin-top: 15px;"
        >
          <path d="M9.43158 0.998901L1.19629 9.21594M1.19629 0.998901L9.43158 9.21594" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
      <div class="bodydataDiscount">
        <h2 class="testDiscountMsg">Congrutalions</h2>
        <p>Discount Applied</p>
      </div>
    </div>
  </div>
</div>

<style>
  .discountCodeApplt.showDiscountthanksyou{
            display:block;
          }
      .discountCodeApplt {
          top: 0;
          background: #000000bf;
          z-index: 999;
          width: 100%;
          height: 100%;
          position: fixed;
      }
      .discountCodeApplt{
        display:none;
      }
  .pincode_popup_bodyresult{
   padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    width: 100%;
    bottom: auto;
    z-index: 99999;
    transform: translate(-50%,-50%);
    background: linear-gradient(180deg,#c4eaaf,#fff);
    border-radius: 10px;
  }
  .pincode_popup_bodyres{
    background-image: url('https://cdn.shopify.com/s/files/1/0571/9159/6106/files/1af8d3b487b77085d5288814f151e1de_w200.gif?v=1707736483');
    background-size: inherit;
  }
  .bodydataDiscount{
    text-align:center;
  }
  .testDiscountMsg{
    color:red;
  }
</style>
