<!-- -------Discount code popup-------- -->
<div class="pincode-popup-container-discount">
  <div class="pincode_popup_body">
    <div class="pincode-popup-discount">
      <div class="close_btn" id="Discount_close_btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="11"
          height="10"
          viewBox="0 0 11 10"
          fill="none"
          style="margin-top: 15px;"
        >
          <path d="M9.43158 0.998901L1.19629 9.21594M1.19629 0.998901L9.43158 9.21594" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
      <div>
        <p class="pb-3 pincode__heading" style="color: #335d2d;">Please enter Discount Code</p>
        <div class="d-flex-code">
          <input
            class="pincode_input_field"
            type="text"
            id="pincode__field"
            value=""
          >
          <button class="submit_pincode" type="button" id="match_pincode">Apply Now</button>
        </div>
        <p id="invalid__pin"></p>
      </div>
      <div Class="discountList">
        <ul>
          <li class="displayCoupan">
            <span class="coupanCode">10PERCENTOFF</span><span class="ApplyedDiscounrt">Apply Now</span>
          </li>
          <li class="displayCoupan">
            <span class="coupanCode">20PERCENTOFF</span><span class="ApplyedDiscounrt">Apply Now</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
