<div class="desktopPincode small-hide">
    <div class="HeaderPinCodeSwitcher-Container Desktop">
     <span><span class="Enter__pincode__text">Enter Pincode</span> 
        <span class="HeaderPinCodeSwitcher-PinCode fw-bold"></span>
       <span id="pincodevalue"></span>
        <button class="Link fw-bold" id="pincode__popup-open"> Add.</button>
      </span>
    </div>
  </div>