
<div class="page-width">
{% if section.settings.heading != blank %}
<h2 class="Innerstylefont"> {{ section.settings.heading }}</h2>
{% endif %}
</div>

{% comment %} {% schema %}
    {
       "name": "New Section",
        "tag": "section",
        "class": "sectionabout",

        "settings": [
            {
             "type": "text",
             "id": "heading",
             "lable": "Heading text"
          }
       ],

       "preset": [
        {
            "name": "New Section"
        }
     ]
    }
{% endschema %} {% endcomment %}

 {% schema %}
{
  "name": "New Section",
  "tag": "section",
  "class": "sectionabout",

  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading text"
    }    
  ],

  "presets": [
    {
      "name": "New Section"
    }
  ]
}
{% endschema %} 