<div class="custom-wishlist page-width">
  <h2>Wishlist item</h2>
  <div id="innerWishlistItem"></div>
</div>

{% schema %}
{
  "name": "wishlist",
  "settings": []
}
{% endschema %}

<Style>
  .inner-Wishlist{ list-style:none; } .WishlistStyle { display: flex; justify-content: space-around; flex-wrap: wrap;
  border-bottom: 1px solid #ddd; padding: 10px; align-items: center; }#innerWishlistItem
  ul{list-style:none}button.buttonstyle {padding:12px}
</Style>
